@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.links {
    margin-top: 10px;
}

.links i {
    padding: 10px 13px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.links i:hover {
    font-size: 1.5rem;
    padding: 10px 13px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 00.3s;
}

span {
    font-size: .9rem;
    color: blueviolet;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: rgb(49, 1, 49);
    font-size: 3rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.7rem;
}

p {
    font-size: .9rem;
}


/*Navigation*/

nav {
    background-color: rgb(97, 0, 97);
    /* background: linear-gradient(to right, purple, black); */
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*viewpoint width*/
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgb(0, 0, 0.15);
    z-index: 999;
}

nav img {
    width: 150px;
    height: 100px;
    /* to make image clickable */
    cursor: pointer;
}

nav .header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .header ul li {
    list-style: none;
    margin-left: 30px;
}

nav .header ul li a {
    text-decoration: none;
    color: rgb(211, 211, 211);
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}

nav .header ul li a.active,
nav .header ul li a:hover {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: 00.3s;
}

nav #login {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    border-radius: 50%;
    background-color: purple;
}

nav #login:hover {
    font-size: 3rem;
    color: rgb(112, 4, 94);
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.login-form {
    height: 100%;
    width: 100%;
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form.popup {
    top: 0;
}

.login-form form {
    width: 25rem;
    height: 27rem;
    background: #fff;
    margin: 0 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 .1rem .3rem purple;
    position: relative;
}

.login-form form h3 {
    font-size: 3rem;
    color: purple;
    padding: 1rem 0;
}

.login-form form .box {
    width: 100%;
    border: none;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-bottom: .2rem solid #666;
    font-size: 1.6rem;
    color: #333;
    text-transform: none;
}

.login-form form .box::placeholder {
    text-transform: capitalize;
    font-size: 1rem;
}

.login-form form .box:focus {
    border-color: purple;
    outline: none;
    font-size: .9rem;
}

.login-form form .box:nth-child(3) {
    margin-bottom: 1rem;
}

.login-form form p {
    font-size: 0.9rem;
    color: #666;
    padding: .5rem 0;
}

.login-form form p a {
    color: purple;
}

.login-form form .btn {
    align-items: center;
    background: linear-gradient(to right, purple, black);
    font-size: 1rem;
    color: white;
    width: 75%;
    margin: 1rem 0;
    margin-left: 3rem;
    margin-bottom: 2rem;
    padding: 15px 25px;
    border-radius: 30px;
}

.login-form form .btn:hover {
    background: linear-gradient(to right, black, purple);
}

.login-form form .fa-times {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #999;
}

.login-form form .fa-times:hover {
    color: #444;
}


/* home */

#home {
    background-image: linear-gradient(rgba(95, 54, 0.3), rgba(5, 4, 46, 0.7)), url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}

#home h2 {
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 50%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .but {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    border-radius: 5px;
}

#home a.purple {
    color: white;
    background-color: purple;
    transition: 0.3s ease;
}

#home a.purple:hover {
    color: purple;
    background-color: white;
}

#home a.yellow {
    color: white;
    background-color: #FDC93B;
}

#home a.yellow:hover {
    color: purple;
    background-color: white;
}


/* features */

#premium {
    align-items: center;
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#premium .box {
    font-size: 6rem;
    background: #f9f9ff;
    /* text-align: center; */
}

#premium .box h3 {
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    padding: 13px 0 7px 0;
}

#premium .box i {
    font-size: 5rem;
    color: purple;
}

#premium .box p {
    font-size: 1rem;
    font-weight: 600;
    color: lightcoral;
}

#premium .base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 40px;
}


/* Courses */

#courses {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#courses .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1rem;
    grid-row-gap: 7rem;
    margin-top: 40px;
    height: 100%;
}

#courses .course {
    text-align: start;
    background: #f9f9ff;
    height: 120%;
    position: relative;
}

#courses .course img {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
}

#courses .course img:hover {
    max-zoom: 150%;
}

#courses .course .details {
    padding: 15px 15px 0 15px;
}

#courses .course .details i {
    color: yellow;
    font-size: .9rem;
    bottom: 0%;
}

#courses .course .price {
    background-color: purple;
    color: white;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 140px;
}

#home .but {
    margin-top: 30px;
}

#courses a {
    text-decoration: none;
    margin-left: 70%;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    border-radius: 5px;
    z-index: 500;
}

#courses a.purple {
    color: white;
    background-color: purple;
    transition: 0.3s ease;
}

#courses a.purple:hover {
    color: purple;
    background-color: white;
}


/* #courses .course-box .course a {
    background-color: purple;
    color: white;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 150px;
} */


/* #courses .course .but {
    margin-top: 30px;
} */


/* #courses .course .but a {
    background-color: purple;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    border-radius: 5px;
}

#courses .course .but a.purple {
    color: white;
    background-color: purple;
    transition: 0.3s ease;
}

#courses .course .but a.purple:hover {
    color: purple;
    background-color: white;
} */


/* ABOUT */

#about {
    background-image: linear-gradient(rgba(95, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/about.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}

#about h2 {
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#about h2:hover {
    color: purple;
}

#about .but {
    margin-top: 30px;
}

#about a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    border-radius: 5px;
}

#about a.purple {
    color: white;
    background-color: purple;
    transition: 0.3s ease;
}

#about a.purple:hover {
    color: purple;
    background-color: white;
}


/* Registration */

#reg {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(95, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/about.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reg .reminder {
    color: white;
}

#reg .reminder p:hover {
    font-size: 3rem;
    transition: 0.1s;
}

#reg .reminder h1 {
    color: white;
}

#reg .reminder .time {
    display: flex;
    margin-top: 40px;
}

#reg .reminder .time .date {
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 83, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;
}

#reg .form {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#reg .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(201, 40, 241);
    outline: none;
}

#reg .form input::placeholder {
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}

#reg .form a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    border-radius: 5px;
}

#reg .form a.purple {
    color: white;
    background-color: purple;
    transition: 0.3s ease;
}

#reg .form .but {
    margin-top: 20px;
}

#reg .form a.purple:hover {
    color: purple;
    background-color: yellow;
}


/* expert */

#experts {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#experts .expert-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 40px;
    /* margin-bottom: ; */
}

#experts .expert-box .profile {
    background-color: #e6e6de;
    padding: 30px 10px;
}

#experts .expert-box .profile img {
    cursor: pointer;
}

#experts .expert-box .profile .links {
    margin-top: 10px;
}

#experts .expert-box .profile .links i {
    padding: 10px 13px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

#experts .expert-box .profile .links i:hover {
    font-size: 1.5rem;
    padding: 10px 13px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 00.3s;
}


/* footer */

footer {
    background: linear-gradient(to right, purple, black);
    padding: 5vw;
    /* margin-top: ; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .col {
    padding: 40px;
}

footer h3 {
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #d8d8d8;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
}

footer li:hover {
    color: yellow;
    font-size: 1rem;
    transition: 0.3s ease;
}

footer p {
    color: #d8d8d8;
}

footer .sub {
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #ffffff94;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
}

footer input::placeholder {
    color: rgb(0, 0, 0);
    font-size: .8rem;
}

footer .sub a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: white;
    font-weight: 600;
}

footer .sub a.yellow {
    color: rgb(255, 255, 255);
    background-color: rgb(224, 183, 0);
}

footer .sub a.yellow:hover {
    color: purple;
    background-color: white;
}

footer .copy {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copy .icons {
    margin-top: 0px;
}

footer .copy .icons i {
    color: white;
    padding: 10px 13px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

footer .copy .icons i:hover {
    font-size: 1.5rem;
    padding: 10px 13px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(190, 190, 190);
    cursor: pointer;
    transition: 00.3s;
}


/* About */

#about-home {
    background-image: linear-gradient(rgba(95, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/back2.jpg ");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}

#about-home h2 {
    color: white;
    font-size: 3.4rem;
    letter-spacing: 1px;
}

#ab-container {
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}

#ab-container .ab-img {
    width: 100%;
    padding-right: 20px;
}

#ab-container .text {
    width: 70%;
}

#ab-container .text h2 {
    color: black;
    padding-bottom: 15px;
}

#ab-container .text p {
    color: black;
    font-weight: 300;
}

#ab-container .text .ab-fe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

#ab-container .text .ab-fe img {
    width: 60px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

#ab-container .text .ab-fe .fe-text {
    width: 90%;
}

#trust {
    text-align: center;
    padding: 8vw;
    padding-bottom: 0%;
}

#trust .trust-img {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#trust .trust-img img {
    width: 90px;
    padding: auto;
    font-size: 5rem;
}


/* contact */

#contact-us {
    background-image: linear-gradient(rgba(95, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/back.jpg ");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}

#contact-us h2 {
    color: white;
    font-size: 3.4rem;
    letter-spacing: 1px;
}

#contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}

#contact .getin {
    width: 350px;
}

#contact .getin h2 {
    color: black;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .getin p {
    color: black;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(126, 118, 118);
}

#contact .getin h3 {
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div {
    display: flex;
}

#contact .getin .getin-details div .get {
    font-size: 16px;
    line-height: 22px;
    color: #666;
    margin-right: 20px;
}

#contact .getin .getin-details div p {
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .getin .getin-details .links i {
    margin-right: 10px;
}

#contact .form {
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
}

#contact .form h4 {
    font-size: 24px;
    color: purple;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p {
    color: black;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 100px;
    margin-bottom: 20px;
}

#contact .form .form-col input {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 100px;
    margin-bottom: 20px;
}

#contact .form .form-col textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 100px;
    margin-bottom: 20px;
}

#contact .form button {
    font-size: .9rem;
    padding: 13px 25px;
    background: purple;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

#google {
    width: 100%;
    height: 70vh;
    margin-bottom: 8vw;
}

#google iframe {
    width: 100%;
    height: 100vh;
}

@media (max-width:475px) {
    #reg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #reg .reminder .time {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #courses .course-box {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    nav {
        flex-direction: column;
    }
    nav .header ul li a {
        font-size: 10px;
    }
    nav .header ul li a:hover {
        font-size: 10px;
    }
    nav #login {
        font-size: 2rem;
        margin: 0;
    }
    #courses .course .price {
        bottom: 70px;
    }
    #home .but {
        margin-top: 30px;
    }
    #courses a {
        margin-left: 55%;
        bottom: 20;
        padding: 13px 25px;
    }
    #contact {
        padding: 8vw 4vw;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
    }
    #contact .getin {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact .form {
        width: 100%;
        padding: 40px 30px;
    }
    #contact .form .form-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    #ab-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vw 0vw;
    }
    #ab-container .ab-img {
        width: 100;
        padding: 0px;
    }
}